body {
    background: url('../img/background.jpg') center center fixed #222;
    font-family: Helvetica Neue, Helvetica, "Segoe UI", Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
}
.glow {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ---------- Typography ---------- */
a {
    text-decoration: none;
    color: #ff4e74;
    text-transform: lowercase;
    font-weight: 900;
    text-shadow: 1px 1px 0 #111;
}
a:hover, a.active {
    color: #ffa247;
    border-bottom: 0.15rem solid #fff;
}
a h1, a h1:hover {
    color: #fff;
}
.pink {
    color: #ff7e74;
}
.orange {
    color: #ffa247;
}
.yellow {
    color: #ffff77;
}
.green {
    color: #80cc71;
}

.heading, h1, h2, h3, h4, h5, h6, #contact button {
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed",
                 "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold",
                 "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva",
                 "Arial Narrow", "Arial", sans-serif;
    font-weight: 600;
    font-stretch: condensed;
}
h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #111;
    margin: 0;
}
h2 {
    color: #FFB23F;
    font-size: 2.5rem;
    margin: 0;
}
h4 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#resume em {
    text-align: right;
    display: block;
    margin-top: 0.5rem;
}
#resume h4 {
    font-size: 1.35rem;
    margin: 0.25rem 0;
}

p, ul {
    line-height: 150%;
}
.note {
    font-size: 0.8rem;
    color: #9c9c9c;
    font-style: italic;
}

/* ---------- Header ---------- */
header {
    background: rgba(6, 6, 6, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 1rem 0;
}
header .col {
    padding: 0 2rem;
}
/* ---------- Sections ---------- */

section {
    min-height: 100vh;
    z-index: 1;
    position: relative;
}
section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
    left: -25%;
    width: 150%;
    background: transparent;
    z-index: -1;
}


/* ---------- Intro ---------- */
#intro-section .c100 {
    min-height: 90vh;
}
.intro-text {
    padding: 25% 0;
}
#intro-section h2 {
    color: #dadada;
    font-size: 4.25rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 40rem){
    #intro-section h2 {
        font-size: 2.5rem;
    }
}


/* ---------- Resume ---------- */

#resume-section {
    background: #FFB23F;
    padding: 0 0 2rem;
    color: #111;
}
#resume-section h2 {
    color: #222;
}
#resume-section::before,
#resume-section::after {
    height: 15%;
    transform: rotate(4deg);
    transform-origin: 0 0;
    background: inherit;
}
#resume-section::before {
    top: -15%;
}
#resume-section:after {
    bottom: -15%;
    transform: rotate(-5deg);
}
.accomplishments {
    list-style: square;
    padding: 0 1.25rem;
    font-size: 0.9rem;
}
.job {
    background: rgb(3, 3, 3);
    border: 0.5rem solid #FFB23F;
    padding: 2rem;
    color: #fff;
}
.job em {
    text-align: right;
    display: block;
    margin-top: 1.25rem;
    color: #FFB23F;
    font-weight: bold;
}
.job h4 {
    color: #FC4D72;
}
.job .c50:first-of-type {
    padding: 0 1.5rem 0 1rem;
}
.job .c50:last-of-type {
    padding: 0 1rem 0 1.5rem;
}
.desc, .accomplishments li {
    color: #676767;
}
#resume-section a {
    color: #222;
    text-shadow: 1px 1px 0 #ffc474;
}

/* ---------- Work ---------- */

#work-section {
    padding: 4rem 0 6rem;
}
#work-section h2 {
    text-align: right;
    margin-bottom: 1.5rem;
}
#work-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#work-section ul li {
    min-height: 12rem;
    background: rgba(58, 58, 58, 0.3);
    border: solid rgb(24, 24, 24);
    border-width: 0 0.25rem 0.25rem 0;
    padding: 1rem;
}
#work-section h4 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

#work-section .site-url {
    display: block;
}

#work-section .col {
    text-align: center;
}

#work-section img {
    border: 0.25rem solid white;
    max-width: 100%;
    padding: 1px;
    background: #565656;
}
#work-section .col.sample {
    padding: 0.5rem;
}
#work-section .c100.sample {
    padding: 0.5rem 0.6rem;
}


/* ---------- Contact ---------- */

#contact-section {
    background: #EA486B;
    padding: 2rem 0 0;
    min-height: 70vh;
}
#contact-section a {
    color: #292929;
    text-shadow: 1px 1px 0 #FB6F8E;
}
#contact-section h2 {
    color: #fff;
}
#contact-section::before,
#contact-section::after {
    height: 10%;
    transform: rotate(2deg);
    transform-origin: 0 0;
    background: inherit;
}
#contact-section::before {
    top: -10%;
}
#contact-section:after {
    bottom: -7%;
    transform: rotate(-2deg);
}

/* ---------- Contact Form ---------- */
#contact-section input, #contact-section textarea {
    display: block;
    margin: 1rem 0;
    font-size: 1rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.85);
    border: none;
    width: 20rem;
    max-width: 100%;
    border-radius: 0;
}
#contact-section textarea {
    height: 8rem;
}
#contact-section button {
    background: #d64161;
    color: #fff;
    text-transform: lowercase;
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem;
}
#contact-section button:hover {
    background: #ffa247;
}
#contact-section #form-messages:empty {
    padding: 0.25rem 0;
}
#contact-section #form-messages:not(:empty) {
    padding: 1rem 0;
}
.social {
    list-style: none;
    font-size: 1.8rem;
    margin: 0;
    padding: 0.5rem 1rem;
}
.social span {
    color: #FF90A8;
    text-shadow: 1px 1px 0 #C73051;
    font-weight: 200;
    font-size: 1.25rem;
    vertical-align: top;
}


/* ---------- Footer ---------- */
footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 3rem 0;
}
footer .col {
    padding: 0 2rem;
}
footer .desc {
    color: #ccc;
}


/* ---------- Media Queries ---------- */

@media screen and (max-width: 40rem){
    header {
        position: relative;
    }
    header h1 {
        text-align: center;
    }
    header nav {
        font-size: 0.9rem;
        margin: 0.5rem 0;
        padding: 0;
        text-align: center;
    }
    body {
        padding: 0;
    }
    #intro-section {
        min-height: 70vh;
        padding: 0;
    }
    #intro-section .c100 {
        min-height: 70vh;
    }
    #resume-section {
        padding-top: 0;
    }
    #resume-section strong, #resume-section em {
        width: 100%;
        display: block;
        text-align: left;
    }
    #contact-section ul {
        font-size: 1.5rem;
    }
    .intro-text {
        padding: 20% 0 0;
    }
    .job .col, .job .col.c50 {
        padding: 0;
    }

    section:before, section:after {
        display: none;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    body {
        margin-top: 4rem;
    }

    header.scroll h1 {
        font-size: 1.5rem;
    }
    header.scroll nav a {
        font-size: 0.8rem;
    }
    header.scroll .col {
        display: inline-block;
        padding: 0 1rem;
    }
    header.scroll .c35 {
        width: 15%;
    }
    header.scroll .c65 {
        width: 85%;
    }
}