/* * * * * * * * * * * Typography * * * * * * * * * */
h1, h2, h3, h4, h5, h6, nav {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.25em 0 0.5em;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

h1 { font-size: 8rem; color: white; }
h2 { font-size: 4rem; margin: 0 0 0.5em;  }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

header a, footer a {
    text-transform: uppercase;
    font-weight: 700;
}
a {
    color: #E49B3A;
    font-weight: 900;
}
a:hover {
    cursor: pointer;
    color: #289c69;
}
body, p {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #efefef;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}
.italic {
    font-style: italic;
}
strong {
    font-weight: 900;
}
strong.italic {
    color: #289c69;
}



/* * * * * * * * * * * Main Styles * * * * * * * * * */
body {
    background: #31302f url('../img/desk2.jpg') no-repeat fixed top center/cover;
    color: #444;
}
header, footer, section {
    padding: 1rem;
}
section, #logo {
    background: rgba(0,0,0,0.6);
    padding: 7rem 1rem;
}
section > .valign-wrapper > .valign,
#logo > .valign-wrapper > .valign {
    width: 100%;
    margin: 0 auto;
}


/* * * * * * * * * * * Header * * * * * * * * * */
#smlogo, #menutoggle {
    position: fixed;
    top: 1rem;
    z-index: 99999;
}
#smlogo {
    left: 1rem;
}
#menutoggle {
    right: 1rem;
}
#menutoggle i {
    color: rgba(255, 255, 255, 0.57);
    font-size: 2rem;
    transition: all ease 0.5s;
}
#menutoggle i:hover {
    cursor: pointer;
}
.spineffect {
    transform: rotate(360deg);
}
#logolink img {
    height: 6vh;
    width: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}


/* * * * * * * * * * * Navigation * * * * * * * * * */
nav {
    background-color: transparent;
    z-index: 3;
    height: auto;
    line-height: inherit;
    box-shadow: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    transition: all 1s ease 0.25s;
}
nav.open {
    display: block;
    visibility: visible;
    opacity: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
    padding: 2em 1em;
}
nav ul li a {
    color: white;
}
nav ul li a:hover {
    background-color: transparent;
}
nav a.active {
    color: #E49B3A;
}
#navigation ul.open {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 40em){
    nav {
        background-color: #222222;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        padding: 25vh 0;
        width: 100vw;
        height: 100vh;
    }
    nav ul li {
        padding: 1em 0.5em;
    }
    nav ul li a {
        font-size: 2rem;
    }
}
@media screen and (min-width: 41em){
    nav.open {
        position: fixed;
        right: 0;
        top: 4rem;
        width: auto;
    }
    nav.open li {
        padding: 0.25em 0.5em;
        text-align: right;
    }
}
/* * * * * * * * * * * Logo Section * * * * * * * * * */
#logo {
    text-align: center;
    background: transparent;
    padding: 1rem;
}
#logo.hidden {
    visibility: hidden;
}
#logo .logo {
    background: rgba(0,0,0,0.35);
    border-radius: 100%;
    padding: 6rem;
    width: 70vh;
    max-width: 80%;
    margin: 0 auto;
}
#logo img {
    width: 100%;
    height: auto;
}
#logo .valign-wrapper {
    min-height: 100vh;
    text-align: center;
}


/* * * * * * * * * * * About Section * * * * * * * * * */
#aboutsection {
    font-size: 1rem;
}
#aboutsection h1 {
    margin-bottom: 1rem;
    width: auto;
}
#aboutsection h2 {
    font-size: 2.75rem;
    margin: 0 0 1em;
    color: #e49b3a;
    width: auto;
}
#profile, .headings {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.headings {
    width: 75%;
    margin-left: 4%;
}
img#profile {
    border-radius: 100%;
    width: 20%;
    box-shadow: 0 0 0 0.5em white;
    transform: rotate(-20deg);
}

#aboutsection .intro p {
    font-size: 1.25rem;
    color: #b3b3b3;
}
#aboutsection .intro p:first-of-type {
    margin-top: 0;
}
ul.doit {
    background: rgba(23, 15, 5, 0.71);
    padding: 1rem;
}
ul.doit li {
    color: white;
    margin: 0.5em;
}
.doit li:before {
    content: '+';
    margin-right: 0.5em;
    font-size: 2rem;
    vertical-align: middle;
    line-height: 1;
    color: #e49b3a;
}
.doit li em {
    display: block;
    margin-left: 2rem;
    color: #7b7b7b;
    font-size: 0.9em;
}
#aboutsection strong {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}


/* * * * * * * * * * * Skills * * * * * * * * * */
#skillssection {
    background: rgba(0,0,0,0.3);
}
#skillssection:after {
    display: block;
    content: '';
    /*background: rgba(228, 155, 58, 0.54);*/
    background: rgba(23, 90, 61, 0.54);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
#skillssection h3 {
    color: #e49b3a;
    margin-left: 2rem;
}
#skillssection p {
    margin-left: 2rem;
}
#skillssection span {
    background: rgba(0,0,0,0.8);
    padding: 0.5em 1em;
    line-height: 2.5;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
}


/* * * * * * * * * * * Work * * * * * * * * * */
#worksection {
    background: rgba(0,0,0,0.8);
}
#worksection:before {
    display: block;
    content: '';
    background: rgba(204, 52, 98, 0.34);
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
}
#worksection:after {
    display: block;
    content: '';
    background: rgba(204, 52, 98, 0.34);
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}
#worksection h2 {
    text-align: right;
}
.row.collapse {
    margin-bottom: 0;
}
.work-logo {
    height: 20rem;
    background-size: cover !important;
}
.work-web {
    height: 15rem;
    background-size: cover !important;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}
.work-web .work-details {
    position: absolute;
    transition: all 1s ease;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    bottom: -120%;
    left: 0;
    padding: 1rem;
    color: #fff;
}
.work-web .work-details > div {
    text-align: center;
    width: 100%;
}
.work-web:hover .work-details, .work-web.active .work-details {
    bottom: 0;
    background: rgba(0,0,0,0.9);
}
#logo-colorpro {
    background: url('../img/work/logo_colorpro.png') center center no-repeat;
}
#logo-cornerstone {
    background: url('../img/work/logo_cornerstone.png') center center no-repeat;
}
#logo-inventiongroup {
    background: url('../img/work/logo_inventiongroup.png') center center no-repeat;
}
#logo-letsplaybingo {
    background: url('../img/work/logo_letsplaybingo.png') center center no-repeat;
}
#logo-mapleavenue {
    background: url('../img/work/logo_mapleavenue.png') center center no-repeat;
}
#logo-retrogamingzone {
    background: url('../img/work/logo_retrogamingzone.png') center center no-repeat;
}
#logo-silvertonguepress {
    background: url('../img/work/logo_silvertonguepress.png') center center no-repeat;
}
#logo-spectrum {
    background: url('../img/work/logo_spectrum.png') center center no-repeat;
}
#logo-zealousz {
    background: url('../img/work/logo_zealousz.png') center center no-repeat;
}
#web-cornerstone {
    background: url('../img/work/web_cornerstone.png') top center no-repeat;
}
#web-crossroad {
    background: url('../img/work/web_crossroad.png') top center no-repeat;
}
#web-driport {
    background: url('../img/work/web_driport.png') top center no-repeat;
}
#web-erico {
    background: url('../img/work/web_erico.png') top center no-repeat;
}
#web-invention {
    background: url('../img/work/web_inventiongroup.png') top center no-repeat;
}
#web-letsplaybingo {
    background: url('../img/work/web_letsplaybingo.png') top center no-repeat;
}
#web-wdbp {
    background: url('../img/work/web_wdbp.png') top center no-repeat;
}
#web-weconnect-simple {
    background: url('../img/work/web_weconnect-simple.png') top center no-repeat;
}
#web-weconnect-rays {
    background: url('../img/work/web_weconnect-rays.png') top center no-repeat;
}
#web-thunderroad {
    background: url('../img/work/web_thunderroad.png') top center no-repeat;
}
#web-weconnect-glass {
    background: url('../img/work/web_weconnect-glass.png') top center no-repeat;
}
#web-retrogamingzone {
    background: url('../img/work/web_retrogamingzone.png') top center no-repeat;
}
#web-jeffjones {
    background: url('../img/work/web_jeffjones.png') top center no-repeat;
}
#web-jims {
    background: url('../img/work/web_jims.png') top center no-repeat;
}
#web-jimwalker {
    background: url('../img/work/web_jimwalker.png') top center no-repeat;
}
a.calltoaction {
    margin-top: 2em;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    border: 0.1em solid #e49b3a;
    border-radius: 0.05em;
    padding: 0.5em 1em;
    transition: all ease 0.5s;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
}
a.calltoaction:before {
    content: '';
    background: #e49b3a;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: -1;
    transition: all ease 0.5s;
}
a.calltoaction:hover:before,
a.calltoaction:active:before,
a.calltoaction:focus:before {
    left: 0;
}


/* * * * * * * * * * * Contact * * * * * * * * * */
#contactme {
    background: rgba(23, 90, 61, 0.84);
}
#contactme {
    position: relative;
}
#contactme .social a {
    color: #fff;
}
#contactme p {
    font-size: 1em;
}
ul.social {
    text-align: center;
}
ul.social li {
    display: inline-block;
    padding: 0.5em 1em;
}
ul.social .fa {
    font-size: 1.75em;
    margin-right: 0.25em;
    vertical-align: middle;
}
a .fa-twitter {
    color: rgb(18, 164, 255);
}
a .fa-linkedin-square {
    color: #0077B5;
    background: white;
    text-shadow: none;
    line-height: 0.8;
    border-radius: 0.15em;
    overflow: hidden;
    box-shadow: inset 0 0 0 0.05em #0077B5, 0 0 0 0.02em #0077B5;
}
a .fa-github {
    background: #444;
    border-radius: 100%;
    line-height: 0.85;
}


/* * * * * * * * * * * Footer * * * * * * * * * */
footer {
    background: #111111;
}
footer img {
    width: 2rem;
    height: auto;
}
footer a {
    color: #444;
    text-shadow: none;
}
footer a:hover {
    color: #ffffff;
}
.github-widget {
    border: none;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    padding: 1rem;
}





/* * * * * * * * * * * Helper Classes * * * * * * * * * */
.down {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0 rgb(74, 74, 74);
    color: rgba(0, 0, 0, 0.78);
    animation: bounce 1s linear infinite;
    margin-top: 2rem;
    font-size: 2.5rem;
}
.transition, .transition:hover {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.displayblock {
    display: block;
}
.displayinlineblock {
    display: inline-block;
}
.container .row {
    margin: 0;
}
a:hover {
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.code {
    font-family: monospace, monospace;
    font-style: normal;
    margin-left: 0.5em;
    margin-right: 0.5em;
}



/* * * * * * * * * * * Animations * * * * * * * * * */
@keyframes bounce {
    0% { transform:translateY(0%); }
    15% { transform:translateY(-10%); }
    30% { transform:translateY(-20%); }
    45% { transform:translateY(-30%); }
    60% { transform:translateY(-20%); }
    75% { transform:translateY(-10%); }
    100% { transform:translateY(0%); }
}
body {
    animation: load 3s ease forwards;
    -moz-animation: load 2s ease forwards;
}
section:not(#logo) > div {
    opacity: 0;
}
section:not(#logo).loaded > div {
    animation: load 2s ease forwards;
    -moz-animation: load 2s ease forwards;
}

@keyframes load {
    0% {
        display: none;
        opacity: 0;
    }
    25% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}



/* * * * * * * * * * * Responsive Stuff * * * * * * * * * */
#bgfix {
    display: none;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
}
@media screen and (min-width: 1600px){
    body, html {
        font-size: 20px;
    }
    .container {
        width: 85%;
        max-width: 1800px;
    }
}
@media screen and (max-width: 1400px){
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 800px) {
    #aboutsection h2, h2 {
        font-size: 2rem;
    }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    .work-logo {
        height: 12rem;
    }
    .work-web {
        height: 9rem;
    }
    .work-details h5 { font-size: 1rem; }
    .work-details p { font-size: 0.8rem; }
}
@media screen and (max-width: 600px){
    h1 {
        font-size: 3rem;
    }
    #navigation ul {
        position: absolute;
        right: 0;
        top: 4rem;
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.8);
        padding: 5vh 1rem;
        z-index: 999 !important;
        display: block;
    }
    #navigation ul li {
        padding: 0.25em 0.5em;
    }
    img#profile {
        width: 50%;
        display: block;
        margin: 0 auto 1rem;
    }
    .headings {
        width: 100%;
        margin: 0;
    }
    #skillssection {
        background: rgba(228, 155, 58, 0.54);
    }
    #skillssection:after {
        display: none;
    }

    .work-web {
        height: 20rem;
    }
}

@media screen and (max-width: 900px){
    body {
        background: #31302f;
    }
    #bgfix {
        display: block;
        background: #31302f url('../img/iphone_landscape_bg.jpg') no-repeat top center;
        background-attachment: scroll;
        background-size: cover;
    }
}