/* * * * * * * * * * * Typography * * * * * * * * * */
h1, h2, h3, h4, h5, h6, nav {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0.25em 0 0.5em;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

h1 { font-size: 8rem; color: white; }
h2 { font-size: 4rem; margin: 0 0 0.5em;  }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

header a, footer a {
    text-transform: uppercase;
    font-weight: 700;
}
a {
    color: #cc3462;
    font-weight: 900;
}
a:hover {
    cursor: pointer;
    color: #E49B3A;
}
body, p {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #efefef;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.italic {
    font-style: italic;
}
strong {
    font-weight: 900;
}
strong.italic {
    color: #289c69;
}



/* * * * * * * * * * * Main Styles * * * * * * * * * */
body {
    background: url('../images/desk.jpg') top center no-repeat fixed #31302f;
    background-size: cover;
    color: #444;
}
header, footer, section {
    padding: 1rem;
}
section {
    background: rgba(0,0,0,0.4);
}
section:not(.portfolio-piece) {
    min-height: 100vh;
    padding: 7rem 1rem;
}
section:not(.portfolio-piece) > .valign-wrapper {
    min-height: 100vh;
}
section:not(.portfolio-piece) > .valign-wrapper > .valign {
    width: 100%;
    margin: 0 auto;
}


/* * * * * * * * * * * Header * * * * * * * * * */
header.fixed {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 1;
}
header img {
    height: 6vh;
    width: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}


/* * * * * * * * * * * Navigation * * * * * * * * * */
ul#navigation {
    margin: 0;
    padding: 0.75rem 0.5rem;
}
#navigation i, #navigation a {
    color: #fff;
}
#navigation i:hover, #navigation a:hover {
    color: #289C6A;
    cursor: pointer;
}
#navigation ul {
    visibility: hidden;
    opacity: 0;
}
#navigation ul.open {
    visibility: visible;
    opacity: 1;
}
#mainnav li {
    font-size: 0.8rem;
}
#mainnav a.active {
    color: #E49B3A;
}


/* * * * * * * * * * * Logo Section * * * * * * * * * */
#logo {
    text-align: center;
    background: transparent;
    padding: 1rem;
}
#logo.hidden {
    visibility: hidden;
}
#logo .logo {
    background: rgba(0,0,0,0.35);
    border-radius: 100%;
    padding: 6rem;
    width: 70vh;
    max-width: 80%;
    margin: 0 auto;
}
#logo img {
    width: 100%;
    height: auto;
}
#logo .valign-wrapper {
    min-height: 100vh;
    text-align: center;
}


/* * * * * * * * * * * About Section * * * * * * * * * */
#about {
    font-size: 1rem;
    padding: 0;
}
#about h1 {
    margin-bottom: 1rem;
}
#about h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
#about .box {
    padding: 2rem 1rem;
    margin: 0.75rem 0;
}
#about i:first-child {
    color: #E49B3A;
    font-size: 3rem;
    display: block;
    text-align: center;
}
#about p i {
    margin-right: 0.5em;
}
#about p {
    font-size: 0.8rem;
    color: #7d7a6a;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
}
#about p a {
    font-size: 1.25rem;
    text-align: center;
    display: block;
    color: white;
    padding: 0.5em;
    background: rgba(40, 156, 106, 0.27);
}
#about p a:hover {
    background: rgba(40, 156, 106, 0.6);
}
#about strong {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

/* * * * * * * * * * * Portfolio Pieces * * * * * * * * * */
#projects {
    background: rgba(0,0,0,0.8);
}
#projects:before {
    display: block;
    content: '';
    background: rgba(40, 156, 106, 0.56);
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
}
#projects:after {
    display: block;
    content: '';
    background: rgba(40, 156, 106, 0.56);
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}
#projects h2 {
    text-align: right;
}
.portfolio-piece .row {
    padding: 0;
    background: rgba(16, 16, 16, 0.9);
    color: rgba(0,0,0,0.6);
    margin-bottom: 1rem !important;
}
.portfolio-piece .graphic {
    background-size: contain !important;
    width: 30%;
    float: right;
    min-height: 7rem;
    margin-left: 1rem;
}
.portfolio-piece .description {
    padding: 2rem;
}
.portfolio-piece .row:hover .details {
    background: rgba(0,0,0,0.5);
}
.date {
    float: right;
    font-size: 1rem;
    color: rgba(255,255,255,0.3);
}
.technology {
    list-style: none;
    margin: 0;
    padding: 0;
}
.technology li {
    display: inline-block;
    font-size: 0.8rem;
    color: #efefef;
    background: rgba(46, 12, 39, 0.5);
    margin: 0 0.2rem;
    padding: 0.25em 0.5em;
}
#letsplaybingo {
    background: url('../images/projects/letsplaybingo.png') center center no-repeat;
}
#cornerstone {
    background: url('../images/projects/cornerstone.png') center center no-repeat;
}
#vagrantbox {
    background: url('../images/projects/vagrantbox.png') center center no-repeat;
}
#matkaskitchen {
    background: url('../images/projects/matkaskitchen.png') center center no-repeat;
}
#inventiongroup {
    background: url('../images/projects/inventiongroup.png') center center no-repeat;
}
#retrogamingzone {
    background: url('../images/projects/retrogamingzone.png') center center no-repeat;
}
#webdesignbestpractices {
    background: url('../images/projects/webdesignbestpractices.png') center center no-repeat;
}
.portfolio-piece .graphic {
    background-size: contain !important;
}


/* * * * * * * * * * * Skills * * * * * * * * * */
#skills {
    background: rgba(0,0,0,0.6);
}
#skills:before {
    display: block;
    content: '';
    background: rgba(228, 155, 58, 0.54);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
#skills h3 {
    color: #e49b3a;
    margin-left: 2rem;
}
#skills p {
    margin-left: 2rem;
}
#skills span {
    background: rgba(0,0,0,0.8);
    padding: 0.5em 1em;
    line-height: 2.5;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
}

/* * * * * * * * * * * Portfolio * * * * * * * * * */
#portfolio {
    background: rgba(0,0,0,0.8);
}
#portfolio:before {
    display: block;
    content: '';
    background: rgba(204, 52, 98, 0.34);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.portfoliopiece {
    width: 100%;
    display: block;
}

.contain { background-size: contain !important; }
.cover { background-size: cover !important; }

.h10 { height: 10vh; }
.h15 { height: 15vh; }
.h20 { height: 20vh; }
.h25 { height: 25vh; }
.h30 { height: 30vh; }
.h35 { height: 35vh; }
.h40 { height: 40vh; }
.h45 { height: 45vh; }
.h50 { height: 50vh; }
.h55 { height: 55vh; }
.h60 { height: 60vh; }
.h65 { height: 65vh; }
.h70 { height: 70vh; }
.h75 { height: 75vh; }
.h80 { height: 80vh; }
.h85 { height: 85vh; }
.h90 { height: 90vh; }
.h95 { height: 95vh; }
.h100 { height: 100vh; }

#portfolio .col {
    margin: 0;
    padding: 0;
}
#portfolio h3 {
    margin: 3rem 0 1rem;
}
.portfoliopiece {
    border: 1px solid #444;
}

/** Branding **/
.portfoliopiece#spectrum {
    background: url('../images/portfolio/branding/spectrum_logo.png') center center no-repeat #fff;  }
.portfoliopiece#mapleave {
    background: url('../images/portfolio/branding/maple_avenue_logos.jpg') center center no-repeat #fff;  }
.portfoliopiece#colorpro {
    background: url('../images/portfolio/branding/color_pro_logo.png') center center no-repeat #fff;  }
.portfoliopiece#dickhammer {
    background: url('../images/portfolio/branding/dick_hammer_dusty_drawers.png') center center no-repeat #fff;  }
.portfoliopiece#theinventiongroup {
    background: url('../images/portfolio/branding/inventiongroup.jpg') center center no-repeat #fff;  }
.portfoliopiece#silvertongue {
    background: url('../images/portfolio/branding/silvertonguepress_fbicon.jpg') center center no-repeat #fff;  }

/** Sites **/
.portfoliopiece#weconnect {
    background: url('../images/portfolio/web/simple-blue.png') center top no-repeat;  }
.portfoliopiece#thunderroad {
    background: url('../images/portfolio/web/ThunderRoad.png') center top no-repeat;  }
.portfoliopiece#erico {
    background: url('../images/portfolio/web/EricoMotorsports.png') center top no-repeat;}
.portfoliopiece#jeffjones {
    background: url('../images/portfolio/web/JeffJones.jpg') center top no-repeat;}
.portfoliopiece#boatlocker {
    background: url('../images/portfolio/web/TheBoatLocker.jpg') center top no-repeat;}
.portfoliopiece#marinecollection {
    background: url('../images/portfolio/web/MarineCollection.png') center top no-repeat;}
.portfoliopiece#crossroads {
    background: url('../images/portfolio/web/CrossroadPowersports.jpg') center top no-repeat;}
.portfoliopiece#cornerstone {
    background: url('../images/portfolio/web/cornerstone_mobile.jpg') center top no-repeat;}
.portfoliopiece#invention {
    background: url('../images/portfolio/web/inventiongroup.jpg') center top no-repeat;}

/** Illustrations **/
.portfoliopiece#ck {
    background: url('../images/portfolio/illustrations/ck.png') center center no-repeat #fff;  }
.portfoliopiece#pvz {
    background: url('../images/portfolio/illustrations/FINAL.png') center center no-repeat;}
.portfoliopiece#lostprophets {
    background: url('../images/portfolio/illustrations/LostProphets1.jpg') center top no-repeat #fff;  }
.portfoliopiece#alima {
    background: url('../images/portfolio/illustrations/AdrianaLima14.jpg') center top no-repeat;  }
.portfoliopiece#alyson {
    background: url('../images/portfolio/illustrations/AlysonHannigan.jpg') left center no-repeat #fff;  }
.portfoliopiece#jolie {
    background: url('../images/portfolio/illustrations/AngelinaJolie1.jpg') center center no-repeat #fff;  }
.portfoliopiece#britney {
    background: url('../images/portfolio/illustrations/BritneySpears8.jpg') center top no-repeat #fff;  }

/** Photography **/
.portfoliopiece#bear {
    background: url('../images/portfolio/photography/bear.jpg') center center no-repeat;}
.portfoliopiece#daffodil {
    background: url('../images/portfolio/photography/daffodil.jpg') center center no-repeat;}
.portfoliopiece#field {
    background: url('../images/portfolio/photography/field.jpg') center center no-repeat;  }
.portfoliopiece#jellyfish {
    background: url('../images/portfolio/photography/jellyfish.jpg') center center no-repeat;}
.portfoliopiece#ride {
    background: url('../images/portfolio/photography/ride.jpg') center center no-repeat;}
.portfoliopiece#spider {
    background: url('../images/portfolio/photography/spider.jpg') center center no-repeat;}
.portfoliopiece#cheetah {
    background: url('../images/portfolio/photography/cheetah.jpg') center center no-repeat;}


/*.portfolio li:nth-of-type(1) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(2) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(3) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(4) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(5) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(6) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(7) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(8) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(9) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/
/*.portfolio li:nth-of-type(10) {*/
    /*background: url('../images/portfolio/') center center no-repeat;*/
/*}*/


/* * * * * * * * * * * Testimonials * * * * * * * * * */
#testimonials {

}
#testimonials .box {
    padding: 2rem;
}
#testimonials blockquote {
    color: #efefef;
}




/* * * * * * * * * * * Contact * * * * * * * * * */
#contactme {
    background: rgba(40, 156, 106, 0.56);
}
#contactform *:focus {
    outline: none;
}
#contactform h6, #contactform .date {
    color: #444;
    text-shadow: none;
}
#contactform h6:first-of-type {
    margin-bottom: 2rem;
}
#contactform {
    z-index: 2;
    padding: 6rem 3rem;
    width: 70%;
    margin: 0 auto;
    background: white;
    position: relative;
    top: 2rem;
    transform: rotate(4deg);
    box-shadow: 0.1rem 0.1rem 0.2rem 0 rgba(0,0,0,0.4);
}
#contactform label {
    font-size: 0.8rem;
    color: #444;
    text-shadow: none;
}
#contactform label span {
    opacity: 0;
    font-size: 0;
    line-height: 0;
}
label[for='name'], label[for='email'] {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    box-sizing: border-box;
    margin: 0;
}
#contactform input, #contactform textarea {
    color: #444;
    font-size: 2rem;
    border: none;
    display: block;
    width: 100%;
}
#contactform textarea {
    min-height: 8rem;
    max-height: 12rem;
}
#contactform button {
    background: rgba(128, 128, 128, 0.34);
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 2em;
    margin-top: 4rem;
    display: block;
}
#contactform button:hover {
    cursor: pointer;
}
#envelope {
    width: 60vw;
    height: 50vh;
    margin: -10rem auto 5rem;
    position: relative;
    background: #e46a3a;
}
#envelope:before, #envelope:after,
#envelope-sides:before, #envelope-sides:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
}
#envelope:before {
    z-index: 1;
    top: -30vh;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 30.25vh solid #e46a3a;
}
#envelope:after {
    z-index: 3;
    bottom: 0;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 26vh solid #e29125;
}

#envelope-sides:before,
#envelope-sides:after {
    bottom: 0;
    border-bottom: 25vh solid transparent;
    border-top: 23vh solid transparent;
}
#envelope-sides:before {
    z-index: 1;
    left: 0;
    border-left: 30vw solid #E49B3A;
}
#envelope-sides:after {
    z-index: 3;
    right: 0;
    border-right: 30vw solid #E49B3A;
}



/* * * * * * * * * * * Footer * * * * * * * * * */
footer {
    background: #111111;
}
footer a {
    color: #444;
    text-shadow: none;
}
footer a:hover {
    color: #ffffff;
}
.github-widget {
    border: none;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    padding: 1rem;
}





/* * * * * * * * * * * Helper Classes * * * * * * * * * */
.down {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0 rgb(74, 74, 74);
    color: rgba(0, 0, 0, 0.78);
    animation: bounce 1s linear infinite;
    margin-top: 2rem;
    font-size: 2.5rem;
}
.transition, .transition:hover {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.displayblock {
    display: block;
}
.displayinlineblock {
    display: inline-block;
}
.container .row {
    margin: 0;
}
a:hover {
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.code {
    font-family: monospace, monospace;
    font-style: normal;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.box {
    background: rgba(0,0,0,0.4);
}




/* * * * * * * * * * * Animations * * * * * * * * * */
@keyframes bounce {
    0% { transform:translateY(0%); }
    15% { transform:translateY(-10%); }
    30% { transform:translateY(-20%); }
    45% { transform:translateY(-30%); }
    60% { transform:translateY(-20%); }
    75% { transform:translateY(-10%); }
    100% { transform:translateY(0%); }
}



/* * * * * * * * * * * Responsive Stuff * * * * * * * * * */

@media screen and (max-width: 500px){
    h1 {
        font-size: 3rem;
    }
    #projects {
        padding: 3rem 0;
    }
    .portfolio-piece .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    .portfolio-piece .col {
        min-height: 11rem;
    }
    .portfolio-piece .graphic {
        order: 1;
        background-size: cover !important;
    }
    .portfolio-piece .details {
        order: 2;
    }
    .portfolio-piece .technology {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
    #navigation ul {
        position: absolute;
        right: 0;
        top: 4rem;
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.8);
        padding: 5vh 1rem;
        z-index: 999 !important;
        display: block;
    }
    #navigation ul li {
        padding: 0.25em 0.5em;
    }
}
@media screen and (max-width: 800px){

    #envelope {
        display: none;
    }
    #contactform {
        transform: rotate(0);
        width: 100%;
        z-index: auto;
    }
    #contactform .date {
        float: none;
        display: block;
        text-align: left;
    }
    .box i:first-child {
        width: 3rem;
    }
    .box i:first-child, .box p {
        display: inline-block !important;
        vertical-align: middle;
        margin: 0 1rem;
    }
    h2 {
        font-size: 2rem;
    }
}